.Chat {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-sizing: border-box;
    width: 100vw;
    max-width: 800px;
    height: 100vh;
    padding: 0 16px 16px;

    text-align: center;
}

.Chat__heading {
    font-size: 2.2em;
}

.Chat__messages {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin: 0 0 32px;
}

.Chat__messages_overflowed::after {
    content: '';

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    height: 40px;

    background: linear-gradient(transparent, var(--bg-color));
}

.Chat__messagesList {
    overflow: auto;
    display: grid;
    grid-auto-rows: max-content;
    gap: 16px;

    height: 100%;
    margin: 0;
    padding: 0;

    text-align: start;
    list-style: none;
}

.Chat__messagesList::-webkit-scrollbar {
    width: 6px;
}

.Chat__messagesList::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: var(--surface-color);
    border-radius: 6px;
}

.Chat__message {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Chat__bottom {
    width: 100%;
    height: 1px;
}

.Chat__form {
    display: flex;
    gap: 16px;
}

.Chat__textarea {
    resize: none;

    width: 100%;
    padding: 8px;

    font: inherit;

    border-radius: 8px;
}
